<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dodawanie pojazdu</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
<div th:replace="fragments/fragment.html :: menu"></div>
<div class="container">
    <h3>Dodawanie nowej trasy</h3>
    <form action="#" th:action="@{/routes/add}" th:object="${route}" method="post">
        <p>ID pojazdu: <input type="text" th:field="*{routeId}"/></p>
        <p>Trasa pojazdu: <input type="text" th:field="*{routeName}"/></p>
        <p>Wybiez pszystanki: <select th:field="*{stops}">
            <option th:value="Bus" th:text="Autobus"></option>
            <option th:value="Tram" th:text="Tramwaj"></option>
        </select>
        </p>
        <ul th:if="${#fields.hasErrors('*')}">
            <li th:each="err : ${#fields.errors('*')}" th:text="${err}"/>
        </ul>
        <p><input type="submit" class="btn btn-success" value="Zapisz"/> <input type="reset" class="btn btn-danger" value="Reset"/></p>
    </form>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>