<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dodawanie trasy</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
<div th:replace="fragments/fragment.html :: menu"></div>
<div class="container">
    <h3>Dodawanie nowej trasy</h3>
    <form action="#" th:action="@{/routes/add}" th:object="${route}" method="post">
        <p>Id trasy: <input type="text" th:field="*{routeId}"/></p>
        <p>Nazwa trasy: <input type="text" th:field="*{routeName}"/></p>
        <p>Numer pojazdu:  <input type="text" th:field="*{vehicleNumber}"/></p>
        <p>Wybież przystanki:</p>
        <p>Wybież przystanek 1:<select id="stop1" name="startId">
            <option th:each="stop : ${stopList}" th:value="${stop.stopId}" th:text="${stop.stopName}" >
        </select></p>
        <p>Wybież przystanek 2: <select id="stop2" name="startId">
            <option th:each="stop : ${stopList}" th:value="${stop.stopId}" th:text="${stop.stopName}" >
        </select></p>
        <p>Wybież przystanek 3: <select id="stop3" name="startId">
            <option th:each="stop : ${stopList}" th:value="${stop.stopId}" th:text="${stop.stopName}" >
        </select></p>
        <p>Wybież przystanek 4: <select id="stop4" name="startId">
            <option th:each="stop : ${stopList}" th:value="${stop.stopId}" th:text="${stop.stopName}" >
        </select></p>
        <p>Wybież przystanek 5: <select id="stop5" name="startId">
            <option th:each="stop : ${stopList}" th:value="${stop.stopId}" th:text="${stop.stopName}" >
        </select></p>
        <p>Wybież przystanek 6: <select id="stop6" name="startId">
            <option th:each="stop : ${stopList}" th:value="${stop.stopId}" th:text="${stop.stopName}" >
        </select></p>
        <p>Wybież przystanek 7:
        <select id="startId" name="stop7">
            <option th:each="stop : ${stopList}" th:value="${stop.stopId}" th:text="${stop.stopName}" >
        </select>
        </p>
        <ul th:if="${#fields.hasErrors('*')}">
            <li th:each="err : ${#fields.errors('*')}" th:text="${err}"/>
        </ul>
        <p><input type="submit" class="btn btn-success" value="Zapisz"/> <input type="reset" class="btn btn-danger" value="Reset"/></p>
    </form>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>