<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Details of route</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
<div th:replace="fragments/fragment.html :: menu"></div>
<div class="container">
    <h1 th:text="${pageTattle}"> Lista przystanków </h1>
    <table class="table">
        <thead>
        <tr>
            <th>#</th>
            <th>Stop name</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="stop, i : ${stops}">
            <td th:text="${i.index + 1}"></td>
            <td th:text="${stop}"></td>
         </tbody>
    </table>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>