<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Redbugs</title>
  <link
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
          crossorigin="anonymous"
  />
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/index.html">Redbugs</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/user.html">Rejestracja</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container p-5">
  <form class="g-3 border border-2 rounded p-4">
    <div class="row my-3">
      <div class="col-md-6 col-12">
        <div>
          <label for="exampleInputEmail1" class="form-label">Podaj adres email</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
      </div>
      <div class="col-md-6 col-12">
        <div>
          <label for="exampleInputPassword1" class="form-label">Podaj hasło</label>
          <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
      </div>
      <div class="row my-3">
        <div class="col-12">
          <a href="tripFinder.html" type="submit" class="btn btn-primary px-4">Dalej</a>
        </div>

      </div>
    </div>
  </form>
</div>

<br>
<br>
<br>
<p>
<div class="text-center">
  <div class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>
</p>
<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous">
</script>
</body>
</html>